<%- include('./layouts/header.ejs') %>
<div class="container-fluid">
    <nav class="nav-bar">
        <ul class="nav-links">
            <!-- Main Navigation Items -->
            <li class="nav-item"><a class="nav-btn" href="#PROGRAMS">PROGRAMS</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#ALLPROGRAMS">All Programs</a></li>
                    <li><a class="dropdown-item" href="#UG">UG Programs</a></li>
                    <li><a class="dropdown-item" href="#PG">PG Program</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-btn" href="#CAREER_SERVICES">CAREER SERVICES</a></li>
            <li class="nav-item"><a class="nav-btn" href="#ADVANTAGES">ADVANTAGES</a></li>
            <li class="nav-item"><a class="nav call-btn" href="#callus">Call Us</a></li>
            <li class="nav-item"><a class="btn video-btn" href="#videoCall">Video call</a></li>
            <li class="nav-item"><a class="btn student-btn" href="#studentlogin">STUDENT LOGIN</a></li>
            <li class="nav-item"><a class="btn apply-btn" href="#applynow">APPLY NOW</a></li>
        </ul>
    </nav>
</div>
<%- include('./layouts/footer.ejs') %>
