<%- include('./layouts/header.ejs') %>
<div class="container-fluid">
    <nav class="nav-bar">
        <ul class="nav-links">
            <!-- Main Navigation Items -->
            <li class="nav-item"><a class="nav-btn" href="#PROGRAMS">PROGRAMS</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#ALLPROGRAMS">All Programs</a></li>
                    <li><a class="dropdown-item" href="#UG">UG Programs</a></li>
                    <li><a class="dropdown-item" href="#PG">PG Program</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-btn" href="#CAREER_SERVICES">CAREER SERVICES</a></li>
            <li class="nav-item"><a class="nav-btn" href="#ADVANTAGES">ADVANTAGES</a></li>
            <li class="nav-item"><a class="nav call-btn" href="#callus">Call Us</a></li>
            <li class="nav-item"><a class="btn video-btn" href="#videoCall">Video call</a></li>
            <li class="nav-item"><a class="btn student-btn" href="#studentlogin">STUDENT LOGIN</a></li>
            <li class="nav-item"><a class="btn apply-btn" href="#applynow">APPLY NOW</a></li>
        </ul>
    </nav>
</div>
<div class="container-fluid">
    <nav class="nav-bar-second">
        <ul>
            <li class="second-nav">
                <a href="#jan25-session-admissions">Jan'25 Session Admissions Open Now!</a>
            </li>
        </ul>
    </nav>
</div>

 <div class="image">
    <div class="background-image">image</div>
 </div>
 
<div class="container-fluid">
    <div class="box-container">
        <div class="banner-content">
            <div class="Hero_title">
                <h1>Admissions Open, Advance Your Career Today!</h1>
            </div>
        </div>

        <div class="course-item">
            <a href="master-of-computer-application">MCA</a>
        </div>

        <div class="course-item2">
            <a href="bachelor-of-computer-application">BCA</a>
        </div>

        <div class="course-item3">
            <a href="bachelor-of-business-administration">BBA</a>
        </div>

        <div class="course-item4">
            <a href="master-of-business-administration">MBA</a>
        </div>
        <li class="nav-item"><a class="btn apply-btn" href="#applynow">APPLY NOW</a></li>
    </div>
</div>
<%- include('./layouts/footer.ejs') %>
